<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NewsScraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .hero {
            height: 550px;
            background-image: url("https://www.crypto-news.net/wp-content/uploads/2018/07/bigstock-Blockchain-technology-network-230375647.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            color: whitesmoke;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">NewsScraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn" id="scrape-button" href="/scrape">Scrape New Articles</a></li>
        <li><a class="waves-effect waves-light btn" id="view-button" href="/">View Articles</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12 valign-wrapper hero">
        <h1>Welcome to the NewsScraper</h1>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col s12">
          <h3 class="center-align">Articles</h3>
      </div>
    </div>
        <div class="row">
            <div class="col s12">
                <ul>
                    {{{ body }}}
                </ul>
            </div>
        </div>
</div>
<script>
    $(document).on("click", "#save-button", function(){
       let id = $(this).parent().parent().attr("data-id");
       $.ajax({
            url: `/saved/${id}`,
            method: 'POST'
        }).then(function(response){
        });
    });
    
    $(document).on('click', "#save-comment", function(){
        let id = $(this).attr("data-id");
        console.log(id);
        let author = $("#author").val();
        let comment = $("#comment").val();
        let newComment = {
            author: author,
            body: comment
        };
        $.ajax({
            url: `/addComment/${id}`,
            method: 'POST',
            data: newComment
        }).then(function(response){});
    });

    $(document).on('click', "#view-comment", function(){
        let id = $(this).attr("data-id");
        $.ajax({
            url: `/getComment/${id}`,
            method: 'GET',
        }).then(function(response){
            if (response.comment){
                $("#modal-author").html(`<p>Author: ${response.comment.author}</p>`);
                $("#modal-comment").html(`<p>Comment: ${response.comment.body}</p>`);
            } else {
                $("#view-comment-modal-if-no-content").html(`<p>No Comments Made Yet</p>`);
            }
        });
    });

    //initialize all modals           
    $('.modal').modal();
</script>
</body>
</html>