{{#each this}}
<li>
    <div class="card teal lighten-2">
        <div class="card-content" data-id={{this._id}}>
            <a href="{{this.link}}">{{this.title}}</a>
            <div class="row center-align">
                <a class="waves-effect waves-light btn" id="save-button">Save</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#comment-modal">Add a Comment</a>
            </div>
        </div>
    </div>
    <div id="comment-modal" class="modal">
        <div class="modal-content">
            <input type="text" id="author" placeholder="Name">
            <textarea id="comment" placeholder="Your Comment"></textarea>
        </div>
        <div class="modal-footer">
            <a href="/" class="modal-close waves-effect waves-green btn-flat" id="save-comment" data-id={{this._id}}>Save Comment</a>
        </div>
    </div>
</li>
{{/each}}