<div class="row">
    <div class="col s12">
        <ul>
            {{#each this}}
            <li>
                <a href="{{this.link}}">{{this.title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>