{{#each this}}
    <li>
        <div class="card teal lighten-2">
            <div class="card-content">
                <a href="{{this.link}}">{{this.title}}</a>
            </div>    
        </div>
    </li>
{{/each}}