<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">NewsScraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn" id="scrape-button" href="/scrape">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>
<div class="container">
  <div class="row">
      <div class="col s12 center-align hero">
          <h1>Welcome to the NewsScraper</h1>
      </div>
  </div>
  <div class="row">
      <div class="col s12">
          <h3 class="center-align">Articles</h3>
          <ul>

          </ul>
      </div>
  </div>
</div>